{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}New Camera{% endblock %}</h2>
    <a class="button button-primary" href="{{ url_for('camera.index', id=id) }}">Back</a>
{% endblock %}

{% block content %}
    <hr>
    <form method="post">
        <fieldset>
            <label for="name">Camera name</label>
            <input type="text" name="name" id="name">
            <label for="ipaddress">IPv4 Address</label>
            <input type="text" name="ipaddress" id="ipaddress">
            <label for="username">Username (leave blank if none)</label>
            <input type="text" name="username" id="username">
            <label for="password">Password (leave blank if none)</label>
            <input type="text" name="password" id="password">
            <input class="button-primary" type="submit" value="Add Camera">
        </fieldset>
    </form>
{% endblock %}