{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Project {{ project['name'] }}{% endblock %}</h2>
    {% if g.util %}
    <a class="button button-primary" href="{{ url_for('camera.create', id=project['id']) }}">Add Camera</a>    
    <a class="button button-primary" href="{{ url_for('camera.refresh', id=project['id']) }}">Refresh</a>
    <a class="button button-primary" href="{{ url_for('project.delete', id=project['id']) }}" onclick="return confirm('Are you sure ?');">Remove Project</a>    
    <a class="button button-primary" href="{{ url_for('project.index') }}">Back</a>
    {% endif %}
{% endblock %}

{% block content %}
    <hr>
    <table>
        <thead>
            <tr>
                <th>Online</th>
                <th>Name</th>
                <th>IP</th>
                <th>Url</th>
                <th>Added</th>
            </tr>
        </thead>
        <tbody>
            {% for camera in cameras %}
                <tr>
                {% if camera['online'] %}
                    <td class="online">Yes</td>
                {% else %}
                    <td class="notonline">No</td>
                {% endif %}    
                <td><a href="{{ url_for('camera.update', id=project['id'], cid=camera['id']) }}">{{ camera['name'] }}</a></td>
                <td>{{ camera['ip'] }}</td>
                <td>{{ camera['urlJpeg'] }}</td>
                <td>{{ camera['created'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}