{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Edit "{{ camera['name'] }}"{% endblock %}</h2>
    <a class="button button-primary" href="{{ url_for('camera.index', id=id) }}">Back</a>
{% endblock %}

{% block content %}
    <hr>
    <form method="post">
        <fieldset>
            <label for="name">Camera name</label>
            <input type="text" name="name" id="name" value="{{ camera['name'] }}">
            <label for="ipaddress">IPv4 Address</label>
            <input type="text" name="ipaddress" id="ipaddress" value="{{ camera['ip'] }}">
            <label for="username">Username (leave blank if none)</label>
            <input type="text" name="username" id="username" value="{{ camera['username'] }}">
            <label for="password">Password (leave blank if none)</label>
            <input type="text" name="password" id="password" value="{{ camera['password'] }}">
        </fieldset>
        <fieldset>
            <input class="button-primary" type="submit" value="Update">
            <a class="button button-primary" href="{{ url_for('camera.delete', id=id, cid=camera['id']) }}">Delete Camera</a>
        </fieldset>
    </form>
{% endblock %}