body {
    background-color: #edf0f5;
}

.unibar {
    padding-top: 5rem;
}

.content {
    padding-top: 15rem;
}

.logo {
    text-decoration: none;
}

.flash {
    color: #cdd0d4;
}

.danger {
    background-color: #de5d41;
}

.online {
    color:chartreuse;
}

.notonline {
    color: #de5d41;
}