{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}New Project{% endblock %}</h2>
    <a class="button button-primary" href="{{ url_for('project.index') }}">Back</a>
{% endblock %}

{% block content %}
    <hr>
    <form method="post">
        <fieldset>
            <label for="name">Project name</label>
            <input type="text" name="name" id="name">
            <label for="location">Location</label>
            <input type="text" name="location" id="location">
            <input class="button-primary" type="submit" value="Add Project">
        </fieldset>
    </form>
{% endblock %}