{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Projects{% endblock %}</h2>
    {% if g.util %}
    <a class="button button-primary" href="{{ url_for('project.create') }}">New Project</a>
    {% endif %}
{% endblock %}

{% block content %}
    <hr>
    <table>
        <thead>
            <tr>
                <th>Client</th>
                <th>Location</th>
                <th>Added</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr>
                <td><a href="{{ url_for('camera.index', id=project['id']) }}">{{ project['name'] }}</a></td>
                <td>{{ project['location'] }}</td>
                <td>{{ project['created'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}