{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Cameras{% endblock }</h1>
    {% if g.util %}
    <a class="button-primary" href="{{ url_for('home.create') }}">New</a>
    {% endif %}
{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Online</th>
                <th>IP</th>
                <th>Url</th>
                <th>Added</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}